#image-container {
    display: flex;
    height: 500px;
    border: solid 5px black;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.arrow {
    height: 20%;
    border: solid 1px black;
}

#previous {
    rotate: 0.5turn;
}



/* good for thumbnails:
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  } */